/4_exercici_llibreries_netbeans/nbproject/private/
/4_exercici_llibreries_netbeans/build/
/4_exercici_llibreries_netbeans/dist/
/7_ants_amb_netbeans/nbproject/private/
/7_ants_amb_netbeans/dist/
/7_ants_amb_netbeans/build/
/8_ants_amb_netbeans_2/build/
/8_ants_amb_netbeans_2/dist/
/8_ants_amb_netbeans_2/nbproject/private/
/9_examen_1819/per_l'alumne/projectes/ZXingCore/nbproject/private/
/9_examen_1819/per_l'alumne/projectes/ZXingCore/build/
/9_examen_1819/p/ZXingCore/build/
/9_examen_1819/p/ZXingCore/nbproject/private/
/9_examen_1819/p/ZXingCore/dist/
/9_examen_1819/p/QRUtils/nbproject/private/
/9_examen_1819/p/QRUtils/build/
/9_examen_1819/p/QRUtils/dist/
/10_examen_1819_extra/resolucio/Barbecue/nbproject/private/
/10_examen_1819_extra/resolucio/Barbecue/build/
/10_examen_1819_extra/resolucio/Barbecue/dist/
/10_examen_1819_extra/resolucio/TPV/nbproject/private/
/10_examen_1819_extra/resolucio/TPV/build/
/10_examen_1819_extra/resolucio/TPV/dist/
/UF2/0_HellloWorld_unittesting/nbproject/private/
/UF2/0_HellloWorld_unittesting/build/
/UF2/2_triangle/Demo_Triangle/nbproject/private/
/UF2/2_triangle/Demo_Triangle/build/
/UF2/3_buelin/Bueling/build/