/4_exercici_llibreries_netbeans/nbproject/private/
/4_exercici_llibreries_netbeans/build/
/4_exercici_llibreries_netbeans/dist/
/7_ants_amb_netbeans/nbproject/private/
/7_ants_amb_netbeans/dist/
/7_ants_amb_netbeans/build/
/8_ants_amb_netbeans_2/build/
/8_ants_amb_netbeans_2/dist/
/8_ants_amb_netbeans_2/nbproject/private/